.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding: 20px 12.5px 26px;
  background-image: url("./images/bg-e0e.arb.jpg");
  background-size: cover;
}
@media (max-width: 425px) {
  .wrapper {
    padding: 0;
  }
}
