*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body,
.wrapper {
  height: 100%;
} */
ol,
ul,
li {
  list-style-type: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  transition: 0.5s;
}
.main::-webkit-scrollbar:hover {
  width: 10px !important;
}
.main::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.8);
}
.main::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}
.main::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.8);
}
.main::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #3498db;
  border-radius: 15px;
  cursor: pointer;
}
.main::-webkit-scrollbar-thumb:hover {
  background-color: #54a22c;
}
.main::-webkit-scrollbar-corner {
  background-color: none;
}
